body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  
}

.brand-text {
    float: right;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
	text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pagination {
    margin-top: 10px;
}
.pagination-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}
.help {
    position: relative;
    border-bottom: 1px dotted black;
    text-decoration: none;
    color: black;
}

 .help-tooltip {
    visibility: hidden;
    width: 120px;
    font-size: x-small;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.help:hover {
    text-decoration: none;
    color: black;
    cursor: help;
}
.help:hover .help-tooltip {
    visibility: visible;
 
}